/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.flexslider img {max-width: 239px; height: auto;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0 auto;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; /* future proofing */
        -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}


/* FlexSlider
*********************************/
.flexslider { position: relative; height: 422px; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flexslider .slides { zoom: 1; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; margin: 70px 0px 0px 0px; text-align: center;}
.flex-control-nav li {margin: 10px 6px; display: block; zoom: 1; *display: inline;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.flex-control-nav li:hover{
    opacity:0.2;
}

.flex-control-nav li a { transition: none; }

.flex-control-paging li a {display: block; cursor: pointer; text-indent: -9999px; height: 30px;}
.flex-control-paging li a:hover { }
.flex-control-paging li a.flex-active { cursor: default; }

.flex-control-paging li:nth-child(1) a {background-image:url('images/home.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(1) a.flex-active {background-image:url('images/home-on.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(2) a {background-image:url('images/stolen.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(2) a.flex-active {background-image:url('images/stolen-on.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(3) a {background-image:url('images/backup.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(3) a.flex-active {background-image:url('images/backup-on.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(4) a {background-image:url('images/locate.svg'); background-repeat: no-repeat; background-position:center;}
.flex-control-paging li:nth-child(4) a.flex-active {background-image:url('images/locate-on.svg'); background-repeat: no-repeat; background-position:center;}


.slider { max-width: 239px; height: auto; 

     -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}



.phone { z-index: 2; position: relative; margin: -380px 0 -300px 50px; width: 415px; height: 603px; padding: 52px 0 0 16px; background-image:url('images/phone-bg.png'); background-repeat: no-repeat; background-size: 415px 603px;

    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

@else if $point == medium {
    @media (max-width: 768px)  { @content; }
  }


@media (max-width: 860px){
    .phone { margin: -410px 0 -270px 0px; }
}