// Ahoy there, terrible scss ahead 

// Sort of cool, mostly terrible

.webkit {
  .background-dark h1 {
    @include background-image(linear-gradient(#fff, #ddd));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
  }
  h1 {
    @include background-image(linear-gradient(#79b9d7, #3196cb));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
  }
}

.protection-app {
  margin-top: -70px;
  @include breakpoint(large) {
    padding-left: 25%;
    margin-top: -70px;
  }
  @include breakpoint(medium) {
    padding-left: 25%;
    margin-top: -80px;
  }
  @include breakpoint(small) {
    padding-left: 15px;
    margin-top: 0px;
  }
}

.support {
  margin-top: -420px;
@include breakpoint(medium) {
    margin-top: 0px;
    padding: 0px;
  }
}

.lt-ie9 {
  .shipping-table {
    width: 500px;
    margin: 0 auto;
    float: none;
  }
  .background-inner  .col-sm-9 {
    width: 700px;
    margin: 0 auto;
    float: none;
  }
  .caption-side {
    writing-mode: tb-rl;
    filter: flipv fliph;
    margin-left: -20px;
  }
  .claim-buttons-wrap {
    .mice {
      margin-left: 10px;
    }
    .btn-topper {
      margin-left: 10px;
    }
  }
  nav li {
    float: left;
  }
  .logo {
    background: url('../images/att.png') no-repeat;
    height: 54px;
    margin-top: 30px;
    img {
      display: none;
    }
  }
}

.lt-ie8 {
  .col-sm-3 {
    width: 33.1%;
  }
}
