// resets, fonts, variables, helpers in globals
@import 'globals';
@import 'modules/buttons';
@import 'modules/claimsbuttons';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/modals';
@import 'modules/hero';
@import 'modules/shippingschedule';
@import 'modules/tiles';
@import 'modules/deductible';
@import 'modules/acceptableids';
@import 'modules/flexslider';
@import 'modules/affix-sidebar';
@import 'shame';

iframe {
  margin:0;
  padding:0;
  outline:0;
  border:0;
  background:transparent;
  vertical-align:baseline;
  text-align:left;
  font-size:100%;
  width:100%;
  min-height:100%;
}

html,body {
  height: 100%;
}

img {
  max-width: 100%;
}

* {
  margin:0;
  padding:0;
  outline:0;
}

*,:after,:before {
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body {
  background: #fff;
  color: #666;
  font-size: 15px;
  font-family: $font-light;
  -webkit-backface-visibility: hidden;
  &.overlay-open {
    overflow: hidden;
  }
}

p {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #555;
  font-family: 'Helvetica Neue', 'Helvetica', omnes_light, arial, sans-serif;
  font-weight: 300;
  @include breakpoint(small) {
    font-size: 16px;
  }
}

ul {
  font-size: 17px;
  margin-left: 5px;
  font-family: 'Helvetica Neue', 'Helvetica', omnes_light, arial, sans-serif;
  font-weight: 300;
  @include breakpoint(small) {
    font-size: 16px;
  }
  li {
    padding: 2px 0;
    &:before {
      content: '\2022';
      color: #999;
      font-size: 15px;
      float: left;
      margin: 5px 0 0 0;
      line-height: 10px;
      padding-right: 10px;
    }
  }
}

h1 {
  font-size: 72px;
  line-height: 68px;
  font-family: $font-medium-italic;
  color: $primary-color;
  margin: 0 0 20px 0;
  @include breakpoint(small) {
    font-size: 42px;
    line-height: 37px;
  }
}

h2 {
  font-size: 42px;
  line-height: 39px;
  font-family: $font-light;
  color: $primary-color;
  margin: 0 0 20px 0;
  @include breakpoint(small) {
    font-size: 34px;
    line-height: 30px;
  }
  &.subhead {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-medium-italic;
    color: #999;
    margin: 0 0 0 0;
    &.secondary {
      margin: 15px 0 0 0;
    }
  }
}

h3 {
  font-size: 30px;
  font-family: $font-light;
  color: $primary-color;
  margin: 0 0 20px 0;
  @include breakpoint(small) {
    font-size: 25px;
  }
}

h4 {
  font-size: 26px;
  line-height: 23px;
  color: #999;
  font-family: $font-medium;
  @include breakpoint(small) {
    font-size: 24px;
  }
}

h5 {
  color: $primary-color;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  @include transition(all .2s ease);
  outline: none; 
  &:hover {
    color: $primary-hover;
    text-decoration: none;
    @include transition(all .2s ease);
  }
  img {
    border: 0;
  }
  &.underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    @include transition(border-bottom-color 300ms, background-color 300ms,opacity 300ms);
    &:hover {
      @include transition(border-bottom-color 300ms,background-color 300ms,opacity 300ms);
      border-bottom-color: #0066cc; 
    }
  }
  &:active, &:focus {
    outline: none;
  }
}

select,
textarea,
input[type="text"],
.uneditable-input {
  width: 240px;
  height: 50px;
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 2px;
  margin-bottom: 26px;
  text-align: center;
  font-family: $font-light;
}

input {
  border: 1px solid;
  border-color: #d2d2d2;
}

form {
  display: inline-block;
  text-align: center;
  a {
    color: #333;
  }
}

dd {
  margin-bottom: 15px;
}

label {
  font-family: $font-medium;
  font-weight: normal;
  margin-bottom: 2px;
}

// May be a bad name, but normalized content wrapper for content sections that include 
// groups of bckts, documentation, etc. Keeps one main class for centralized padding 

.container-padded {
  padding: 60px 0 90px;
  @include breakpoint(small) {
    padding: 40px 0 70px;
  }
  @include breakpoint(small) {
    padding: 30px 0;
  }
}

.container-hero-content {
  padding: 135px 0;
  @include breakpoint(small) {
    padding: 50px 0;
  }
}

.standard-bg {
  background-color: $main-bg;
} 

.offset-bg {
  background-color: $offset-bg;  
}

.container-flush-bottom {
  padding-bottom: 0;
}

.container-padded-less {
  padding: 40px 0 60px 0;
  @include breakpoint(small) {
    padding: 30px 0;
  }
}

.container-top-padding {
  padding-top: 50px;
}

.container-plans {
  padding: 95px 0 115px 0;
  @include breakpoint(medium) {
    padding: 40px 0;
    background-image: none !important;
    .container-fluid {
      background-image: none !important;
    }
  }
  h2 {
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    @include breakpoint(small) {
      padding-bottom: 20px;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 25px;
  }
}

.container-drop-shadow {
  border-bottom: 1px solid #f0f0f0;
  @include box-shadow(0px 2px 7px rgba(0, 0, 0, 0.05));
}

.container-offset-bg {
  background-color: #f7f7f7;
}

.container-inner-shadow {
  @include box-shadow(inset 0 10px 10px -10px #e7e7e7, inset 0 -10px 10px -10px #ccc);
}

.container-steps-bg {
  background: url(images/steps-bg.jpg) top right no-repeat;
  background-size: cover;
}

.container-contact-buttons {
  padding-bottom: 80px;
  margin-bottom: 60px;
  @include breakpoint(medium) {
    padding-bottom: 60px;
    margin-bottom: 40px;
  }
  @include breakpoint(small) {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
}

.or {
  color: #bbb;
  font-size: 24px;
  font-family: $font-medium;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 10px;
  display: inline-block;
}

.mice {
  color:#fff;
  font-size:12px;
  display: block;
  @include breakpoint(small) {
    font-size: 11px;
    text-align: center;
  }
}

.mobile {
  display:none;
  @include breakpoint(small) {
    display: block;
  }
}

.push-above {
  z-index: 3;
  position: relative;
}

// Enroll Table

.best-value {
  color: #FD7122;
  font-size: 10px;
  text-align: center;
  margin: 0 0 5px 0;
  display: block;
  img {
      display: block;
      margin: 0 auto;
  }
}

table.enroll {
  margin: 45px auto;
  @include breakpoint(small) {
    margin: 25px auto;
  }
  .text-right {
    padding-right: 40px;
    @include breakpoint(smallest) {
      font-size: 12px;
      padding:10px 10px 10px 0;
      line-height: 100%;
    }
  }
  th {
    padding: 0 0 10px 0;
    font-size: 15px;
    line-height: 14px;
    font-family: $font-medium;
    vertical-align: bottom;
    @include breakpoint(smallest) {
      font-size: 12px;
    }
  }
  tr {
    border-bottom-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  td {
    background: $primary-color;
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-collapse: none;
    font-family: $font-light;
    p.mice {
      margin: 3px 0;
      font-size: 11px;
      line-height: 10px;
      color: #fff;
    }
    .icon {
      font-size: 19px;
    }
    @include breakpoint(smallest) {
      font-size: 12px;
      padding: 0px 3px;
    }
  }
  .offset {
    td {
      background: $secondary-color;
      z-index: 0;
    }
  }
  .center {
    border-left-color: #fff;
    border-right-color: #fff;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    text-align: center;
    min-width: 110px;
    @include breakpoint(small) {
      min-width: 0;
    }
  }
}




// Protection Table

table.protection {
  margin: 0px auto;
  margin-bottom: 40px;
  @include breakpoint(small) {
    margin: 25px auto;
  }
  .text-right {
    padding-right: 40px;
    @include breakpoint(smallest) {
      font-size: 12px;
      padding:10px 10px 10px 0;
      line-height: 100%;
    }
  }
  th {
    padding: 0 0 10px 0;
    font-size: 15px;
    line-height: 14px;
    font-family: $font-medium;
    vertical-align: bottom;
    @include breakpoint(smallest) {
      font-size: 12px;
    }
  }
  tr {
    border-bottom-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  td {
    background: $primary-color;
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-collapse: none;
    font-family: $font-light;
    p.mice {
      margin: 3px 0;
      font-size: 11px;
      line-height: 10px;
      color: #fff;
    }
    .icon {
      font-size: 19px;
    }
    @include breakpoint(smallest) {
      font-size: 12px;
      padding: 0px 3px;
    }
  }
  .offset {
    td {
      background: $secondary-color;
      z-index: 0;
    }
  }
  .center {
    border-left-color: #fff;
    border-right-color: #fff;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    text-align: center;
    min-width: 110px;
    @include breakpoint(small) {
      min-width: 0;
    }
  }
}





.caption-side {
  display: table-cell;
   transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  position: absolute;
  width: 20px;  
  text-align: center;
  margin: 0 0 0 -45px;
  font-size: 15px;
  line-height: 14px;
  font-family: $font-medium;
  
}

.app-side {
 bottom: 9%;
}

.support-side {
  bottom: 24%;
}

.insurance-side {
  bottom: 60%;
}

.check {
  font-family: 'Asurion';
  color: #fff;
  font-size: 19px;
}

.down-arrow {
  background: url('../images/link-down-arrow.png') center 21px no-repeat;
  display: block;
  height: 40px;
  &:hover {
    color: $primary-hover;
    background-position-y: 24px;
  }
}

.faq-content {
  h3 {
    margin-top: 50px;
  }
}

.hand { 
  position: relative; 
  margin: 360px 0 -300px -460px; 
  max-width: 595px; 
  height: auto;
  @include animation-duration(2s);
  @include breakpoint(860px) {
    margin: 310px 0 -200px -380px; 
    max-width: 515px; 
    height: auto; 
  }
  @include breakpoint(medium) {
    display: none;
    margin: 0;
  }
}

.phone2 { 
  margin: 40px 0 -460px 20px; 
  width: 240px; height: 461px; 
  background-image:url('images/phone-bg2.png'); 
  background-repeat: no-repeat; 
  background-size: contain;
  -ms-behavior: url(css/backgroundsize.min.htc);
  @include animation-duration(1s);
  @include breakpoint(860px) {
    margin: 40px 0 -390px 20px; 
    width: 200px; 
    height: 384px; 
    background-size: 200px 384px; 
  }
  @include breakpoint(medium) {
    display: none;
    margin: 0;
  }
}

.phone-bg { 
  z-index: 2; 
  position: absolute;
  margin: 0; 
  width: 415px;
  height: 603px;
  padding: 52px 0 0 16px;
  background-image:url('images/phone-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  -ms-behavior: url(css/backgroundsize.min.htc);
  @include animation-duration(2s);
  @include breakpoint(medium) {
    margin: -80px 0 0 0;
    width: 300px;
    height: 250px;
    background-size: auto 250px;
    padding: 20px 0 0 7px;
    .slider {
      max-width: 99px;
    }
  }
  @include breakpoint(small) {
    display: none;
  }
}
