@mixin btn-primary-gradient {
  @include background-image(linear-gradient(#7ab9d7, #2e95ca));
}

@mixin btn-primary-gradient-hover {
  @include background-image(linear-gradient(#61a1c0, #2e95ca));
}

@mixin btn-secondary-gradient {
  @include background-image(linear-gradient(#fff, #F3F3F3));
}

$primary-color: #1998D3;
$primary-hover: darken($primary-color, 8%);

$secondary-color: #f89641;
$secondary-hover: darken($secondary-color, 8%);

$tertiary-color: rgba(255, 255, 255, 0.2); 
$tertiary-hover: rgba(255, 255, 255, 0.4); 

$main-bg: #fff;
$offset-bg: #FBFBFB;

$font-light: 'omnes_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'omnes_medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-regular: 'omnes_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium-italic: 'omnes_medium_italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
