
$primary-color: #EE1C25;
$primary-hover: darken($primary-color, 8%);

$secondary-color: #06C;
$secondary-hover: darken($secondary-color, 8%);

$tertiary-color: rgba(255, 255, 255, 0.2); 
$tertiary-hover: rgba(255, 255, 255, 0.4); 

$main-bg: #fff;
$offset-bg: #FBFBFB;

$font-light: 'proxima_novalight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'proxima_novasemibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-thin: 'proxima_novathin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
