.flexslider img {
  max-width: 239px; 
  height: auto;
  @include breakpoint(medium) {
    max-width: 172px;
    height: auto;
  }
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

.flexslider {
  margin: 0 auto;
  position: relative;
}

.flexslider .slides > li {
  display: none; 
  -webkit-backface-visibility: hidden;
  &:before {
    content: none;
  }
} 

.flexslider .slides img {
  max-width: 100%; 
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.slides:after {
  content: "\0020"; 
  display: block; 
  clear: both; 
  visibility: hidden; 
  line-height: 0; 
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.flexslider { 
  position: relative; 
  height: 422px; 
  margin: 0;
}

.flex-viewport { 
  max-height: 2000px; 
  @include transition(all 1s ease);
}

.flexslider .slides { 
  zoom: 1; 
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  margin: 60px 0px 0px 0px;
  text-align: center;
  @include breakpoint(medium) {
    display: none;
  }
  li {
    margin: 10px 6px; 
    display: block; 
    zoom: 1; 
    *display: inline; 
    list-style: none;
    opacity: 1;
    @include transition(opacity .2s ease-in-out);
    &:hover {
      opacity: .3;
    }
    a {
      transition: none;
      display: block; 
      cursor: pointer; 
      text-indent: -9999px; 
      height: 30px;
    }
  }
}

.flex-control-paging li a.flex-active { cursor: default; }

.flex-control-paging li:nth-child(1) a {background-image:url('images/home-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(1) a.flex-active {background-image:url('images/home-on-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(2) a {background-image:url('images/stolen-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(2) a.flex-active {background-image:url('images/stolen-on-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(3) a {background-image:url('images/backup-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(3) a.flex-active {background-image:url('images/backup-on-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(4) a {background-image:url('images/locate-icon.svg'); background-repeat: no-repeat; background-position:center;}

.flex-control-paging li:nth-child(4) a.flex-active {background-image:url('images/locate-on-icon.svg'); background-repeat: no-repeat; background-position:center;}


.slider { 
  max-width: 239px;
  height: auto; 
  @include animation-duration(3s);
  @include breakpoint(medium) {
    max-width: 172px;
    height: auto;
  }
}

