.logo {
	display: block;
	width: auto;
	padding-top: 30px;
  width: 54px;
  @include active-bounce();
  @include transition(all .2s ease);
  @include breakpoint(small) {
    padding-top: 20px;
  }
} 

// Header

header {
  z-index: 1002; 
	position: relative;
	height: 120px;
  @include transition(all .3s ease);
  @include breakpoint(small) {
    height: 90px;
    .nav-wrap {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      left: 0;
      a {
        margin: 0;
      }
    }
  }
}

nav {
  float: right;
  margin-top: 37px;
  ul li {
    display: inline-block;
    text-align: center;
    padding: 0 50px 0 0;
    vertical-align: middle;
    &:before {
      content: none;
    }
    @include breakpoint(900px) {
      padding-right: 40px;
    }
    @include breakpoint(830px) {
      padding-right: 30px;
    }
    @include breakpoint(medium) {
      padding: 0 10px;
    }
    &.last {
      padding-right: 0;
    }
  }
  a {
    color: #888;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 16px;
    font-family: $font-light;
    @include transition(all .3s ease);
    @include active-bounce();
    &:hover {
      color: #555;
    }
    span {
      display: block;
    }
    @include breakpoint(830px) {
      font-size: 15px;
    }
  }
  @include breakpoint(small) {
    float: none;
    text-align: center;
    position: relative;
    margin: 0;
    top: 45%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-perspective: 1200px;
    perspective: 1200px;
    ul {
      opacity: 0.4;
      -webkit-transform: translateY(-15%);
      transform: translateY(-15%);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      height: 100%;
      position: relative;
    }
    li {
      display: block;
      height: 15%;
      width: 100%;
      height: calc(100% / 6);
      min-height: 50px;
      margin-top: 15px;
    }
    a {
      font-family: $font-light;
      font-size: 32px;
      line-height: 29px;
      font-weight: 100;
      display: block;
      color: #fff;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      &:hover {
        color: #ddd;
      }
      span {
        display: inline;
      }
    }
  }
}

.overlay {
  opacity: 1;
  visibility: visible;
  position: relative;
  display: block;
  @include breakpoint(small) {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(25, 152, 211, .9);
    z-index: 9999;
    &.open {
      opacity: 1;
      visibility: visible;
      @include transition(opacity .5s);
      nav ul {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);    
      }
    }
    &.overlay-close {
      @include transition(all .5s ease-in-out);
      nav ul {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);    
      }
      .overlay-close {
        top: 0px;
        @include transition(all .5s ease-in-out);
      }
    }
  }
}

.overlay-trigger {
  display: none;
  @include breakpoint(small) {
    position: absolute;
    display: block;
    font-size: 55px;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    @include transition(color .5s ease);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  } 
}

.overlay-trigger-close {
  float: right;
  @include breakpoint(small) {
    right: 16px;
    top: 0;
  }
}

.overlay-trigger-home {
  float: left;
  @include breakpoint(small) {
    float: left;
    top: 12px;
    left: 14px;
  }
}

.close {
  float: none;
  font-weight: normal;
  font-size: auto;
  line-height: auto;
  text-shadow: none;
}

// Hate this, but no time to be clever

.login-desktop {
  @include breakpoint(small) {
    display: none;
  }
}

.login-mobile {
  display: none;
  @include breakpoint(small) {
    display: block;
  } 
}

// Open Collapsed nav button

.nav-open {
  display: none;
  float: right;
  color: $primary-color;
  vertical-align: middle;
  background: #ddd;
  background: rgba(255, 255, 255, .2);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 5px 7px;
  @include border-radius(4px);
  @include transition(all .3s ease);
  &:hover {
    background: #fff;
    color: $primary-hover;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: -3px 0 0 0;
  }
  @include breakpoint(small) {
    display: inline-block;
    margin: 22px 0 0 0;
  }
}

.background-dark {
  nav a, .nav-open {
    color: #fff;
    &:hover {
      color: #eee;
    }
  }
  .nav-open:hover {
    background: #bbb;
    background: rgba(255, 255, 255, .35);
  }
  h1, h2.subhead {
    color: #fff;
  }
}
