// home page hero
.main-hero {
	position: relative;
	z-index: 1001;
	margin-top: -120px;
	padding-top: 120px;
  background-color: #f5f5f5;
  height: 630px;
  background-position: 63% 70%;
  @include breakpoint(large) {
    background-position: 60% 70%;
    background-size: auto 400px;
  }
  @include breakpoint(medium) {
    background-position: 60% 54%;
    background-size: auto 320px;
  }
  @include breakpoint(small) {
    background-position: 60% 64%;
    background-size: auto 300px;
  }
  @include breakpoint(smallest) {
    background: #f5f5f5;
    text-align: center;
  }
}

.hero-arrow {
  position: absolute;
  bottom: 15px;
  left: 48.75%;
  @include breakpoint(small) {
    margin-left: -2%;
  }
  @include breakpoint(smallest) {
    margin-left: -5%;
    left: 49.5%;
  }
}

.hero-home-content {
  @include breakpoint(medium) {
    width: 60%;
  }
  @include breakpoint(smallest) {
    width: 100%;
  }
}

.main-call {
  padding-top: 75px;
  @include breakpoint(small) {
    padding: 20px 0 50px 0;
  }
	h1 {
		font-size: 54px;
		text-align: left;
		letter-spacing: -1px;
		line-height: .9;
    @include breakpoint(small) {
      font-size: 42px;
    }
    @include breakpoint(smallest) {
      background: #f5f5f5;
      text-align: center;
    }
  }
	.mice {
		text-align: left;
	}
  .btn {
    margin-right: 10px;
    @include breakpoint(large) {
      margin-bottom: 10px;
    }
    @include breakpoint(small) {
      margin-bottom: 10px;
    }
  }
}


// interior page hero sections

.hero-interior {
  margin-top: -120px;
  padding: 120px 0 15px 0;
  height: 480px;
	width: 100%;
	position: relative;
	z-index: 1;
	@include transition(all .3s linear);
  background-position: top center;
  @include breakpoint(medium) {
    height: 350px;
    background-size: auto 100%;
    &.protection {
      height: auto;
    }
  }
  @include breakpoint(small) {
    height: auto;
  }
	.container {
		padding-top: 40px;
		padding-bottom: 50px;
		@include breakpoint(small) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
  .background--dark {
    h1, h2 {
      color: #fff;
    }
  }
  h1 {
    letter-spacing: -3px;
    line-height: 60px;
    margin-bottom: 20px;
    @include breakpoint(small) {
      letter-spacing: -1px;
      line-height: 42px;
      margin-bottom: 10px;
    }
  }
  &.text-center-flip {
    @include transition(none);
  }
}

.container-hero-right {
  text-align: left; 
  background-position: 50%;
  background-repeat: no-repeat;
  @include breakpoint(large) {
    background-position: 10% 0;
  }
  @include breakpoint(medium) {
    background-position: 54% -10px;
  }
  @include breakpoint(small) {
    background-position: 73% 0;
    background-size: 760px auto;
  }
  @include breakpoint(smallest) {
    background-position: 37% 0;
  }
}

.container-hero-center {
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  @include breakpoint(medium) {
    text-align: left;
    background-position: 72% -0px;
  }
  @include breakpoint(small) {
    text-align: left;
    background-size: 1040px auto;
    background-position-x: -36%;
    background-position: 72.5% -30px;
  }
  @include breakpoint(smallest) {
    background-size: 900px auto;
    background-position-x: -36%;
    background-position: -27% 20px;
  }
}

.hero-interior-plans {
  @include breakpoint(smallest) {
    background-position-x: 34%;
  }
}

.hero-interior-contact {
  @include breakpoint(smallest) {
    background-position-x: 42%;
  }
}

.hero-interior-faq {
  @include breakpoint(smallest) {
    background-position-x: 64%;
  }
}

.hero-interior-support {
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  @include breakpoint(medium) {
    background-position-y: 30px;
  }
  @include breakpoint(small) {
    background-position-y: 46px;
    background-repeat: no-repeat;
  }
  @include breakpoint(smallest) {
    background-position-y: 85px;
    background-size: auto 240px;
  }
}

.plans-mdpp {
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100px;
  @include breakpoint(large) {
    background-size: auto 260px;
    background-position-x: 160%;
  }
  @include breakpoint(medium) {
    background-image: none;
    background-repeat: no-repeat;
  }
  @include breakpoint(small) {
  }
  @include breakpoint(smallest) {
  }
}

// actual text section of the interior heros

.interior-callout {
  padding-top: 75px;
  @include breakpoint(small) {
    padding: 15px 15px 35px 15px;
  }
  h1 {
    margin-top: -5px;
  }
}

.interior-callout-support {
  padding-top: 75px;
  @include breakpoint(medium) {
    padding-top: 0px;
  }
  @include breakpoint(small) {
    padding: 15px 15px 35px 15px;
  }
  h1 {
    margin-top: -5px;
  }
}

.interior-callout-app {
  @include breakpoint(small) {
  }
}
