.bckt-link {
	margin: 0 0 40px 0;
	display: block;
	@include breakpoint(small) {
		margin: 30px 0 20px 0;
	}
}

.bckt {
	text-align: center;
	border-right: 1px solid #eee;
	padding: 20px 0;
	margin: 20px 0 15px 0;
	&:nth-of-type(3) {
		border-right: none;
	}
	h4 {
		max-width: 70%;
		margin: 15px auto;
	}
	p {
		margin-bottom: 25px;
	}
	a {
		display: inline-block;
	}
	@include breakpoint(medium) {
		&.col-xs-4 {
			width: 33.33%;
		}
	}
	@include breakpoint(small) {
		border: none;
		margin: 0 0 5px 0;
		padding: 10px 0;
		margin-top: 0;
		&.col-xs-4 {
			width: 100%;
		}
		p {
			margin-bottom: 10px;
		}
	}
}

.bckt-image {
	height: 100px;
}

